@{
    ViewData["Title"] = "CV";
}

<div class="text-center">
    <h1 class="display-4">À propos de moi</h1>
</div>
@section scripts
{
    <script>
        $('ul.nav-pills li a[href="/Home/AboutMe"]').addClass("active");
    </script>
}