@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
</div>

@section scripts
{
    <script>
        $('ul.nav-pills li a[href="/Home/Contact"]').addClass("active");
    </script>
}