@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('ul.nav-pills li a[href="/"]').addClass("active");
</script>