@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">
    <h1 class="display-4">Portfolio</h1>
</div>


<script type="text/javascript">
    $('ul.nav-pills li a[href="/Home/Portfolio"]').addClass("active");
</script>
