@{
    ViewData["Title"] = "CV";
}

<div class="text-center">
    <h1 class="display-4">À propos de moi</h1>
</div>
<script type="text/javascript">
    //ui.controller.pageInit = function () {
       
    //    ui.controller.page.load();
    //};
    //ui.controller.pageDestroyContent = function () {
    //};
    //ui.controller.page = {
      
    //    load: function () {

    //    },
    //};
</script>